<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> <%= Titulo %>  </title>
	<% include partials/head.html%>
	<script type="text/javascript" src="calculador/app.js"> </script>
</head>
<body background ="https://newsroom.cisco.com/documents/10157/14740/ransom-cyber-rt-feature_1200x675_hero_022018.png/5490081c-1d33-4be5-864f-e6958a8e4e41?t=1519157933292">
	<% include partials/navigation.html%>

	       <!-- <script>
        alert('works!!!')
	 </script>-->
	 


	<center> <img src="https://plantillasdememes.com/img/plantillas/yo-habia-ponido-mis-cosas-aqui01561772726.png"></center> 
	
	<br>
	<style>
			h1 {
			  border: 10px solid rgb(137, 253, 4) ;;
			}
		</style>
	<h1 style="color:rgb(255, 255, 255)" >Yo habia ponido aqui mi calculadora</h1>
	
</body>
</html>