<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memes</title>
    <% include partials/head.html%>
</head>
<body>
   
        <% include partials/navigation.html%>
        <center>
        <h1>No me dio tiempo de poner memes :C</h1>
        <br>
        <br>
      
        <img src="https://a.wattpad.com/cover/193540854-176-k705300.jpg" width=400 height="500">
       </center>

    
    
    
    
</body>

</html>